<p id="notice"><%= notice %></p>

<h2>Your cart</h2>
<table>
  <%= render cart.line_items %>
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(current_cart.total_price) %></td>
  </tr>
</table>
<%= button_to 'Checkout',
              new_order_path,
              :method => :get %><br>
<%= button_to 'Empty cart',
              @cart,
              :method => :delete,
              data: {:confirm => 'Are you sure?'} %>