// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#product_list table tr td {
  padding: 5px;
  vertical-align: top;
}

#product_list .list_image {
  width: 60px;
  height: 70px;
}

#product_list .list_description {
  width: 60%;
}

#product_list .list_description dl {
  margin: 0;
}

#product_list .list_description dt {
  color: #244;
  font-weight: bold;
  font-size: larger;
}

#product_list .list_description dd {
  margin: 0;
}

#product_list .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
}

#product_list .list_line_even {
  background: #e0f8f8;
}

#product_list .list_line_odd {
 background: #79a8e0;
}

#store .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#store .title {
  font-size: 120%;
  font-family: sans-serif;
}

#store .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}


#store .entry h3 {
  margin-top: 0;
  margin-bottom: 2px;
  color: #227;
}

#store .entry p {
  margin-top: 0.5em; 
  margin-bottom: 0.8em; 
}

#store .entry .price_line {
  clear: both;
  margin-bottom: 0.5em;
}

#store .entry .add_to_cart {
  position: relative;
}

#store .entry .price {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
}