<!DOCTYPE html>
<html>

<head>
  <title>Books Store</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body id="store">
  <div id="banner">
    <%= image_tag("https://w7.pngwing.com/pngs/535/618/png-transparent-ruby-on-rails-computer-programming-programming-language-ruby-angle-rectangle-logo.png") %>
    <%= @page_title || "Books Store" %>
  </div>
  <div id="columns">
    <div id="side">
      <div id="cart">
        <%= hide_cart_if(current_cart.line_items.empty?, :id => "cart") do %>
        <%= render current_cart %>
        <% end %>
      </div>

      <%= link_to 'Home', '/' %><br />
      <% if session[:user_id] %>
      <%= link_to 'Orders', '/orders' %><br />
      <%= link_to 'Products', '/products' %><br />
      <%= link_to 'Users', '/users' %><br />
      <%= button_to 'Logout', '/logout', :method => :delete %>
      <% else %>
      <%= link_to 'Log In', login_path %><br />
      <% end %>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>

</html>